name: CI

on: [ push, pull_request ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get -y --no-install-recommends install texlive-latex-extra shellcheck devscripts poppler-utils
    - name: l3build check
      run: PATH="$PATH:." l3build check || { cat build/test/*.diff; false; }
    - name: Build
      run: |
        ./build.sh
        cd built_package/pdfjam*
        unzip tests.zip
        tests/run.sh
        shellcheck bin/pdfjam
        checkbashisms -xp bin/pdfjam
